<!DOCTYPE html>
<html ng-app="concatApp">
<head>
  <title>String Concatenation</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-controller="ConcatController">

  <h2>Concatenate Two Strings</h2>

  <label>First String:</label>
  <input type="text" ng-model="str1" placeholder="Enter first string"><br><br>

  <label>Second String:</label>
  <input type="text" ng-model="str2" placeholder="Enter second string"><br><br>

  <button ng-click="concatenate()">Concatenate</button>

  <h3>Result: {{result}}</h3>

  <script>
    var app = angular.module('concatApp', []);

    app.controller('ConcatController', function($scope) {
      $scope.str1 = '';
      $scope.str2 = '';
      $scope.result = '';

      $scope.concatenate = function() {
        $scope.result = $scope.str1 + $scope.str2;
      };
    });
  </script>

</body>
</html>
